<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Entertainment
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of items?.articles" (click)="openNews(article)">
    <ion-img [src]="article?.urlToImage"></ion-img>
    <ion-card-content>
      <ion-card-title>{{article?.title}}</ion-card-title>
      <p>{{article?.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
