<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Categories</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="/home">
          <ion-icon name="earth-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;News Home Page</ion-label>
        </ion-item>
        <ion-item href="/sports">
          <ion-icon name="basketball-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Sports</ion-label>
        </ion-item>
        <ion-item href="/business">
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Business</ion-label>
        </ion-item>
        <ion-item href="/technology">
          <ion-icon name="desktop-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Technology</ion-label>
        </ion-item>
        <ion-item href="/science">
          <ion-icon name="rocket-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Science</ion-label>
        </ion-item>
        <ion-item href="/entertainment">
          <ion-icon name="star-half-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Entertainment</ion-label>
        </ion-item>
        <ion-item href="/health">
          <ion-icon name="heart-half-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;Health</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
